venv
.env
__pycache__
.vscode

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
polls

node_modules
.pnp
.pnp.js
.next/
out/

# production
build

# misc
.DS_Store
*.pem

# misc
.DS_Store
*.pem