.halfWidth {
    width: 50%;
    padding-right: 5px !important;
}

.halfWidth+.halfWidth {
    padding-right: 0 !important;
    padding-left: 5px !important;
}

.inputField {
    margin-bottom: 1rem !important;
}

.submitButton {
    font-size: 18px !important;
    text-transform: none !important;
    padding: 6px 32px !important;
}

.uploadButton {
    width: 100%;
    margin-bottom: 1rem !important;
    padding: 6px 32px !important;
}

.formContainer {
    margin-bottom: 2rem;
}

.checkboxLabel {
    color: var(--text) !important;
}

.checkboxLabel :global(.MuiRadio-root),
.checkboxLabel :global(.MuiCheckbox-root) {
    color: var(--text) !important;
}

.checkboxLabel :global(.MuiFormLabel-root) {
    color: var(--text) !important;
}