.table th{
    border-bottom: 1px solid var(--text);
    text-align: left;
    font-weight: 400;
}
.table th, .table td{
    padding: 10px;
}
.table tbody tr:nth-child(2n-1){
    background-color: var(--background1);
}
.table{
    border-spacing: 0;
    width: 100%;
}
.tableWrapper{
    margin: 32px 0;
}
.tableWrapper h2{
    font-weight: 400;
    margin-bottom: 16px;
}
.id{
    width: 10%;
}
.title{
    width: 40%;
}
.status{
    width: 25%;
}
.publisher{
    width: 20%;
}
.grade{
    width: 15%;
}