.form {
    display: flex;
    flex-direction: column;
}

.inputField {
    margin-bottom: 1rem !important;
}

.finalGrade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.criteria {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.decisionSelect {
    max-width: 200px;
}

.customGrade {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
    background-color: var(--background1);
    padding: 0 10px;
    border-radius: 5px;
}