.infoLine {
    font-size: 18px;
    /* border-bottom: 1px solid var(--text); */
    padding: 4px 0;
}

.infoLine strong {
    font-weight: 700;
    color: var(--primary);
    margin-right: .5rem;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-bottom: 0;
}

.dateAuthorMagazine {
    font-size: 12px;
    font-weight: 300;
    padding: 4px 0;
    margin-bottom: 1rem;
    display: flex;
    gap: .5rem;
}

.keywords {
    font-size: 18px;
    padding: 4px 0;
    margin: 1rem 0 .5rem;
}

.keywordsList {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.keywordsList span {
    background-color: var(--background1);
    color: var(--text);
    padding: .25rem 1rem;
    border-radius: 20px;
}

.status {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--background1);
    padding: .25rem 1rem;
    border-radius: 20px;
}