.halfWidth {
    width: 50%;
    padding-right: 5px !important;
}

.halfWidth+.halfWidth {
    padding-right: 0 !important;
    padding-left: 5px !important;
}

.inputField {
    margin-bottom: 1rem !important;
}

.submitButton {
    font-size: 18px !important;
    text-transform: none !important;
    padding: 6px 32px !important;
}

.formContainer {
    margin-bottom: 2rem;
}

.checkboxLabel {
    color: var(--text) !important;
}

.checkboxLabel :global(.MuiRadio-root),
.checkboxLabel :global(.MuiCheckbox-root) {
    color: var(--text) !important;
}

.checkboxLabel :global(.MuiFormLabel-root) {
    color: var(--text) !important;
}

.fileUploadContainer {
    border: 2px dashed #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: var(--background1);

    &:hover {
        border-color: var(--primary);
    }
}

.fileUploadContainer label {
    cursor: pointer;
    padding: 2rem;
    display: block;
}

.uploadButton {
    font-weight: 300 !important;
    color: var(--text);
    cursor: pointer;
}