.table th {
    border-bottom: 1px solid var(--text);
    text-align: left;
    font-weight: 300;
}

.table th,
.table td {
    padding: 10px;
}

.table tbody tr:nth-child(2n-1) {
    background-color: var(--background1);
}

.table tbody tr:nth-child(2n) {
    background-color: var(--background2);
}

.table tbody tr td {
    border-bottom: 1px solid var(--background);
}

.table {
    border-spacing: 0;
    width: 100%;
}

.tableWrapper {
    margin: 32px 0;
}

.tableWrapper h2 {
    font-weight: 400;
    margin-bottom: 16px;
}

.id {
    width: 10%;
}

.title {
    width: 40%;
}

.status {
    width: 25%;
}

.publisher {
    width: 20%;
}

.grade {
    width: 15%;
}

.expandButton {
    background: none;
    border: none;
    color: var(--primary);
    cursor: pointer;
    font-size: 1.2em;
    padding: 4px 8px;
}

.expandedRowContainer {
    padding: 0 !important;
    /* border-bottom: none !important; */
}

.expandableContent {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

.expandableContent.expanded {
    grid-template-rows: 1fr;
}

.overflowHidden {
    overflow: hidden;
}

.expandedContent {
    background-color: var(--background2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 0;
}

.approveButton {
    min-width: 0 !important;
    width: 32px;
    height: 24px;
}

.detailsGrid {
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--background1);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.label {
    padding: 12px 16px;
    font-weight: 600;
    border-bottom: 1px solid var(--background);
    border-right: 1px solid var(--background);
    background-color: rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

.value {
    padding: 12px 16px;
    border-bottom: 1px solid var(--background);
    white-space: pre-wrap;
}


.detailsGrid>div:nth-last-child(1),
.detailsGrid>div:nth-last-child(2) {
    border-bottom: none;
}

/* Grid Layout for ArticleTable */
.gridTable {
    width: 100%;
    margin: 32px 0;
}

.gridHeader {
    display: grid;
    font-weight: 300;
    border-bottom: 1px solid var(--text);
}

.gridRow {
    display: grid;
    align-items: center;
    border-bottom: 1px solid var(--background);
}

.gridRow:nth-child(2n-1) {
    background-color: var(--background1);
}

.gridRow:nth-child(2n) {
    background-color: var(--background2);
}

.gridCell {
    padding: 10px;
}

.gridHeader .gridCell {
    border-bottom: none;
    font-weight: 300;
}

.gridCell a {
    color: inherit;
    text-decoration: none;
}