.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border: 1px solid white;
    border-left: 0;
    border-right: 0;
    margin-top: 2rem;
    gap: 20px;
}

.left {
    display: flex;
    gap: 16px;
}

@media (max-width: 768px) {
    .left {
        flex-wrap: wrap;
        gap: 8px;
    }

    .left>* {
        flex-grow: 1;
    }

    .container {
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
    }
}