.line{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.line span{
    width: 70px;
}

.input input{
    padding: 10px;
}

@media (max-width: 991px){
    .input{
        width: calc(100% - 70px);
    }
}