.dueDateContainer {
    margin-bottom: 1rem;
    position: absolute;
    right: 0;
    top: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dueDate {
    color: var(--primary);
    padding: 10px 15px;
    background: var(--background1);
    border-radius: 50px;
    display: block;
}

.topContainer {
    position: relative;
}

.newPaperContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media (max-width: 768px) {
    .dueDateContainer {
        position: static;
        justify-content: space-between;
        font-size: 12px;

    }

    .dueDate {}

    .newPaperContainer {
        flex-direction: column;
        align-items: stretch
    }

    .newPaperButton {
        width: 100%;
    }
}

.nameContainer {
    margin-bottom: 8px;
    display: flex;
    gap: 16px;
    align-items: center;
    max-width: 50%;
}

.nameContainer h1 {
    margin-bottom: 0;
}

.container {
    margin-bottom: 2rem;
}

.description {
    white-space: pre-wrap;
    margin-bottom: 32px;
}

@media (max-width: 768px) {
    .description {
        margin-bottom: 16px;
    }
}